form {
  max-width: 30rem;
  margin: 0 auto;
  padding: 20px;
  border-radius: var(--border-radius);
  background-color: var(--form-background-color);
  font-family: var(--font-family-inter);
  box-shadow: var(--box-shadow);
}

form .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-header h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.form-header div {
  color: #6c757d;
  width: 50px;
}

form div {
  width: 100%;
  margin-bottom: 15px;
}

form .dividir {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--label-color);
  font-size: 0.875rem;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-navigation {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-background-color);
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-background-color);
}

.form-navigation button:disabled {
  background-color: var(--button-disabled-background-color);
  cursor: not-allowed;
}

.fade-in {
  animation: fadeIn 0.5s;
}

.fade-out {
  animation: fadeOut 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

@media (max-width: 768px) {
  form {
    margin: 10px;
  }

  .form-header h2 {
    font-size: 21px;
  }
}
