form {
  max-width: 30rem;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #6c757d;
  border-radius: 10px;
  background-color: #dbe4f2;
  font-family: 'Inter', sans-serif;
}

form .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form .form-header div {
  color: #6c757d;
  width: 50px;
}

form div {
  width: 100%;
  margin-bottom: 15px;
}

form .dividir {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  gap: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #111827;
  font-size: 0.875rem;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #6c757d;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-navigation {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.form-navigation button:disabled {
  background-color: #dc3545;
  cursor: not-allowed;
}

.fade-in {
  animation: fadeIn 0.5s;
}

.fade-out {
  animation: fadeOut 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
